<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div id="main">
	<h2>Tweets</h2>
	<% unless @peeps.empty? %>
	<ul id="peeps">
		<% @peeps.each do |peep| %>
			<li class="user">
			<span>Posted by </span> <%= peep.user.username %>
			<span><span>Posted at</span> <%= peep.time %></span></li>
		  <li class="content"><%= peep.content %></li>
		<%end%>
	</ul>
	<% end %>

	<div id="right_section">
	 <% if current_user %>
		<div class="user_profile"> 
			<h2>Post a Tweet</h2>
			<% if current_user %>
				<form method='post' action='/peeps'>
	   			<textarea id="tweetField" cols="42" rows="7" name='content' onkeyup="countChar(this)"></textarea> 
	   			<br>
	  			<input type='submit' value='Tweet'>
	  			<p id="counter">Counter: <span>0</span></p>
				</form>
			<% end %>	
		</div>
		 <% end %>

		<div class="trending">
			<h2>Trending</h2>
			<% unless @peeps.empty? %>
			<ul id="trendingPeep">
	    	<li><span> Posted by: </span><span><%= @peeps.last.user.username %> </span></li>
		  	<li><%= @peeps.last.content %> </li>

		  	<li><span>Posted by: </span><span><%= @peeps.first.user.username %> </span></li>
		  	<li><%= @peeps.first.content %> </li>
			</ul>
			<% end %>
		</div>

	</div>

</div>

